/*
Error: File to import not found or unreadable: bootstrap-sprockets.
        on line 2 of /home/ubuntu/environment/saasapp/app/assets/stylesheets/application.css.scss

1: 
2: @import 'bootstrap-sprockets';
3: @import 'bootstrap';
4: 
5: h1, h2, h3 {
6:     font-family: 'Open Sans', sans-serif;
7: }

Backtrace:
/home/ubuntu/environment/saasapp/app/assets/stylesheets/application.css.scss:2
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/tree/import_node.rb:45:in `import'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:310:in `visit_import'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/plugin.rb:82:in `update_stylesheets'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:338:in `watch_or_update'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:51:in `process_result'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.4/bin/scss:13:in `<top (required)>'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/bin/scss:23:in `load'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/bin/scss:23:in `<main>'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/bin/ruby_executable_hooks:24:in `eval'
/home/ubuntu/.rvm/gems/ruby-2.3.0@saasapp/bin/ruby_executable_hooks:24:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: bootstrap-sprockets.\A         on line 2 of /home/ubuntu/environment/saasapp/app/assets/stylesheets/application.css.scss\A \A 1: \A 2: @import 'bootstrap-sprockets';\A 3: @import 'bootstrap';\A 4: \A 5: h1, h2, h3 {\A 6:     font-family: 'Open Sans', sans-serif;\A 7: }"; }
