
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

// typography styles
h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

// background gradient
.navbar, .home-callout{
    //gradient provided by @moeamaya at https://cssgradient.io/
    background: rgb(42,101,124);
    background: linear-gradient(90deg, rgba(42,101,124,1) 0%, rgba(185,239,247,1) 35%, rgba(0,212,255,1) 100%);
}

/*.navbar{
    border: none;
}*/
// navbar styles
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a{
    color: white;
    &:hover {
        color: white;
        opacity: 0.75;
    }
}

.navbar-brand{
    font-family:'Open Sans', sans-serif;
    font-weight: 800;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: #00c6ff;
  }
}

// home page styles
.home-callout {
  color: black;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}